.About {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__Versions {
        display: flex;
        flex-direction: column;
    }
    &__Home {
        margin: 2em;
    }
    &--footer {
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &a {
        color: lightblue;
        cursor: pointer;
    }
}
